.header-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.header-mobile-content {
  display: none;
  @include breakpoint(767) {
    @include flexbox();
    @include align-items(center);
    @include justify-content(space-between);
  }
}

.header-content {
  .header-content-top {
    text-align: right;
    position: relative;
    height: 30px;
    position: relative;
    z-index: 2;
    .item-link {
      font-family: $SSB;
      font-size: 12px;
      color: rgba(255, 255, 255, 0.7);
      text-transform: uppercase;
      position: relative;
      top: 9px;
    }
  }
  .header-content-bottom {
    @include flexbox();
    @include align-items(center);
    @include justify-content(space-between);
  }
  .top-nav-language {
    position: absolute;
    max-height: 45px;
    right: 0;
    padding-top: 45px;
    overflow: hidden;
    @include transition(all .3s);
    &:hover {
      max-height: 90px;
    }
  }
  .header-content-left,
  .header-content-right {
    @include flexbox();
    @include align-items(center);
    @include justify-content(space-between);
  }
  .top-nav-menu {
    list-style: none;
    display: inline-block;
  }
  .top-nav-menu-item {
    padding: 0 20px;
    display: inline-block;
    .item-link {
      font-family: $SSB;
      text-transform: uppercase;
      font-size: 13px;
      color: rgba(255, 255, 255, 0.7);
    }
  }
  @include breakpoint(767) {
    opacity: 0;
    visibility: hidden;
    position: fixed;
    top: 65px;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 0 15px;
    @include transform(scale(0.9));
    @include transition(all .3s);
    &.active {
      opacity: 1;
      visibility: visible;
      @include transform(scale(1));
    }
    .logo {
      display: none;
    }
    .header-content-bottom {
      @include flex-direction(column);
    }
    .top-nav-menu {
      margin-bottom: 15px;
    }
    .top-nav-menu-item {
      display: block;
      text-align: center;
    }
  }
}

.logo {
  margin-right: 20px;
  height: 65px;
  width: 65px;
  .logo-link {
    display: inline-block;
  }
  img {
    display: inline-block;
    max-width: 100%;
    height: auto;
  }
}

.btn-menu-mobile {
  width: 30px;
  height: 29px;
  position: relative;
  display: block;
  background-color: transparent;
  border: 1px solid #fff;
  border-radius: 4px;
  &:before {
    content: '';
    width: 20px;
    height: 1px;
    position: absolute;
    top: 7px;
    left: 4px;
    background-color: #fff;
    @include transition(all .3s);
  }
  &:after {
    content: '';
    width: 20px;
    height: 1px;
    position: absolute;
    bottom: 7px;
    left: 4px;
    background-color: #fff;
    @include transition(all .3s);
  }
  .content-btn {
    content: '';
    width: 20px;
    height: 1px;
    position: absolute;
    bottom: 13px;
    left: 4px;
    background-color: #fff;
    @include transition(all .3s);
  }
  &.active {
    &:before {
      top: 13px;
      @include transform(rotate(45deg))
    }
    &:after {
      bottom: 13px;
      @include transform(rotate(-45deg))

    }
    .content-btn {
      opacity: 0;
    }
  }
}