<!doctype html>
<html lang="en">
<head>
  <!-- include head.html -->
  @@include('../layouts/head.html', {
    "title": "About us"
  })
  <!-- include styles.html -->
  @@include('../layouts/styles.html')
</head>
<body class="loading">
  <div class="loader"></div>
  <div class="wrapper">
    <!-- include header.html -->
    @@include('../layouts/header-en.html', {
    "link": "about-us.html"
  })

    <section class="main-container about-us">
      <div id="a" class="block-container">
        <div class="container-fluid">
          <!-- banner top -->
          <div class="row wow fadeInDown">
            <div class="background-header" style="background-image: url('images/about-us/Background_Header.png')"></div>
          </div>
          <!-- end banner -->
          <div class="row">
            <div class="center">
              <!-- description block -->
              <div class="description-block wow fadeInUp">
                <div class="content-left">
                  <h2 class="title-block">From Passion, <br>From Desire</h2>
                  <div class="wrap-img">
                    <img class="img-responsive" src="images/about-us/Nhan_Tai_Dat_Viec.png" />
                  </div>
                </div>
                <div class="content-right">
                  <p class="content-desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                  <p class="content-desc">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit  voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
                </div>
              </div>
              <!-- end block -->
              <!-- list vision -->
              <div class="vision-block row">
                <!-- item vision -->
                <div class="col-md-6 mb10 wow fadeInLeft">
                  <h2 class="title-block">VISION</h2>
                  <!-- item vidion detail -->
                  <div class="item-visions">
                    <div class="wrap-img">
                      <img src="images/about-us/Cong_Nghe.svg" class="img-responsive">
                    </div>
                    <p class="item-desc"><b>Technology 4.0</b> will change the way we live and work.</p>
                  </div>
                  <!-- end -->
                  <div class="item-visions">
                    <div class="wrap-img">
                      <img src="images/about-us/Hieu_Qua_Cong_VIec.svg" class="img-responsive">
                    </div>
                    <p class="item-desc">Working performance, life quality in a flat world is and will be a challenge for the whole society. </p>
                  </div>
                  <div class="item-visions">
                    <div class="wrap-img">
                      <img src="images/about-us/Dap_Ung.svg" class="img-responsive">
                    </div>
                    <p class="item-desc">Timely responding to the customer's hidden desire. Easy to share</p>
                  </div>
                </div>
                <!-- end -->
                <div class="col-md-6 mb10 wow fadeInRight">
                  <h2 class="title-block">GOAL</h2>
                  <div class="item-visions">
                    <div class="wrap-img">
                      <img src="images/about-us/Tri_Tue_Nhan_Tao.svg" class="img-responsive">
                    </div>
                    <p class="item-desc">Applying artificial intelligence, big data, IoT, and building a deeply personalized virtual assistant,  daily supporting users in dining and entertainment.</p>
                  </div>
                  <div class="item-visions">
                    <div class="wrap-img">
                      <img src="images/about-us/Khuyen_Cao.svg" class="img-responsive">
                    </div>
                    <p class="item-desc">Smart recommendation for Healthy Eating.</p>
                  </div>
                  <div class="item-visions">
                    <div class="wrap-img">
                      <img src="images/about-us/Thu_Nhap_Trai_Nghiem.svg" class="img-responsive">
                    </div>
                    <p class="item-desc">Real-time collecting user experience, helping enterprises to relocate 5P (Product, Price, Person, Promotion, Place) and customers to relocate 5E (Entice, Enter, Engage, Exit, Expand)</p>
                  </div>
                </div>
              </div>
              <!-- list Owner -->
              <div class="patner-block wow fadeInDown">
                <h2 class="title-block">Đội ngũ nhóm phát triển</h2>
                <div class="wrap-patner">
                  <!-- ouner item -->
                  <div class="item-patner wow fadeInDown">
                    <div class="wrap-img">
                      <img src="images/about-us/Smith.png" class="img-responsive">
                    </div>
                    <h3 class="patner-name">Bui Hoang Khoa Nguyen</h3>
                    <p class="patner-job">Founder</p>
                  </div>

                  <div class="item-patner wow fadeInDown">
                    <div class="wrap-img">
                      <img src="images/about-us/Lana.png" class="img-responsive">
                    </div>
                    <h3 class="patner-name">Le Minh Hoang Hac</h3>
                    <p class="patner-job"> Co-Founder</p>
                  </div>

                  <div class="item-patner wow fadeInDown">
                    <div class="wrap-img">
                      <img src="images/about-us/Oliver.png" class="img-responsive">
                    </div>
                    <h3 class="patner-name">Mai Hoang Long</h3>
                    <p class="patner-job"> Co-Founder</p>
                  </div>

                  <div class="item-patner wow fadeInDown">
                    <div class="wrap-img">
                      <img src="images/about-us/Oliver.png" class="img-responsive">
                    </div>
                    <h3 class="patner-name">Le Ngoc Tri</h3>
                    <p class="patner-job"> Co-Founder</p>
                  </div>
                </div>
              </div>
              <!-- end -->
            </div>
          </div>
        </div>
      </div>
      <div class="clearfix"></div>
    </section>

    <!-- include footer.html -->
    @@include('../layouts/footer-en.html')
  </div>

  <!-- include scripts.html -->
  @@include('../layouts/scripts.html')
</body>
</html>