<!doctype html>
<html lang="en">
<head>
  <!-- include head.html -->
  @@include('../layouts/head.html', {
    "title": "Về chúng tôi"
  })
  <!-- include styles.html -->
  @@include('../layouts/styles.html')
</head>
<body class="loading">
  <div class="loader"></div>
  <div class="wrapper">
    <!-- include header.html -->
    @@include('../layouts/header.html')

    <section class="main-container about-us">
      <div id="a" class="block-container">
        <div class="container-fluid">
          <!-- banner top -->
          <div class="row wow fadeInDown">
            <div class="background-header" style="background-image: url('images/about-us/Background_Header.png')"></div>
          </div>
          <!-- end banner -->
          <div class="row">
            <div class="center">
              <!-- description block -->
              <div class="description-block wow fadeInUp">
                <div class="content-left">
                  <h2 class="title-block">Từ đam mê, <br>Từ khao khát</h2>
                  <div class="wrap-img">
                    <img class="img-responsive" src="images/about-us/Nhan_Tai_Dat_Viec.png" />
                  </div>
                </div>
                <div class="content-right">
                  <p class="content-desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                  <p class="content-desc">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit  voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
                </div>
              </div>
              <!-- end block -->
              <!-- list vision -->
              <div class="vision-block row">
                <!-- item vision -->
                <div class="col-md-6 mb10 wow fadeInLeft">
                  <h2 class="title-block">Tầm nhìn</h2>
                  <!-- item vidion detail -->
                  <div class="item-visions">
                    <div class="wrap-img">
                      <img src="images/about-us/Cong_Nghe.svg" class="img-responsive">
                    </div>
                    <p class="item-desc"><b>Công nghệ 4.0</b> sẽ thay đổi cách chúng ta sống và làm việc. </p>
                  </div>
                  <!-- end -->
                  <div class="item-visions">
                    <div class="wrap-img">
                      <img src="images/about-us/Hieu_Qua_Cong_VIec.svg" class="img-responsive">
                    </div>
                    <p class="item-desc">Hiệu quả công việc, chất lượng cuộc sống trong một thế giới phẳng đang và sẽ là một thử thách cho toàn xã hội. </p>
                  </div>
                  <div class="item-visions">
                    <div class="wrap-img">
                      <img src="images/about-us/Dap_Ung.svg" class="img-responsive">
                    </div>
                    <p class="item-desc">Đáp ứng kịp thời những mong muốn ẩn sâu bên trong của khách hàng (customer’s insight) là thách thức của mọi doanh nghiệp.</p>
                  </div>
                </div>
                <!-- end -->
                <div class="col-md-6 mb10 wow fadeInRight">
                  <h2 class="title-block">Sứ mệnh</h2>
                  <div class="item-visions">
                    <div class="wrap-img">
                      <img src="images/about-us/Tri_Tue_Nhan_Tao.svg" class="img-responsive">
                    </div>
                    <p class="item-desc">Ứng dụng trí tuệ nhân tạo, big data, IoT xây dựng một trợ lý ảo có khả năng cá nhân hoá cao, dễ dàng chia sẻ, hỗ trợ người dùng trong ăn uống và giải trí.</p>
                  </div>
                  <div class="item-visions">
                    <div class="wrap-img">
                      <img src="images/about-us/Khuyen_Cao.svg" class="img-responsive">
                    </div>
                    <p class="item-desc">Đưa ra các khuyến cáo thông minh, hướng người dùng tới một lối sống lành mạnh và vui vẻ.</p>
                  </div>
                  <div class="item-visions">
                    <div class="wrap-img">
                      <img src="images/about-us/Thu_Nhap_Trai_Nghiem.svg" class="img-responsive">
                    </div>
                    <p class="item-desc">Thu thập trải nghiệm người dùng theo thời gian thực, giúp doanh nghiệp định vị lại 5P (Product, Price, Person, Promotion, Place), và tạo được 5E (Entice, Enter, Engage, Exit, Expand) cho khách hàng.</p>
                  </div>
                </div>
              </div>
              <!-- list Owner -->
              <div class="patner-block wow fadeInDown">
                <h2 class="title-block">Đội ngũ nhóm phát triển</h2>
                <div class="wrap-patner">
                  <!-- ouner item -->
                  <div class="item-patner wow fadeInDown">
                    <div class="wrap-img">
                      <img src="images/about-us/Smith.png" class="img-responsive">
                    </div>
                    <h3 class="patner-name">Smith</h3>
                    <p class="patner-job">Founder</p>
                  </div>

                  <div class="item-patner wow fadeInDown">
                    <div class="wrap-img">
                      <img src="images/about-us/Lana.png" class="img-responsive">
                    </div>
                    <h3 class="patner-name">Lana</h3>
                    <p class="patner-job">Founder</p>
                  </div>

                  <div class="item-patner wow fadeInDown">
                    <div class="wrap-img">
                      <img src="images/about-us/Oliver.png" class="img-responsive">
                    </div>
                    <h3 class="patner-name">Oliver</h3>
                    <p class="patner-job">Founder</p>
                  </div>
                </div>
              </div>
              <!-- end -->
            </div>
          </div>
        </div>
      </div>
      <div class="clearfix"></div>
    </section>

    <!-- include footer.html -->
    @@include('../layouts/footer.html')
  </div>

  <!-- include scripts.html -->
  @@include('../layouts/scripts.html')
</body>
</html>