<!doctype html>
<html lang="en">
<head>
  <!-- include head.html -->
  @@include('../layouts/head.html', {
    "title": "Kết nối với khách hàng"
  })
  <!-- include styles.html -->
  @@include('../layouts/styles.html')
</head>
<body class="loading">
  <div class="loader"></div>
  <div class="wrapper">
    <!-- include header.html -->
    @@include('../layouts/header.html')

    <section class="main-container business">
      <!-- background index -->
      <div class="background-container">
        <div class="background-top" style="background-image: url(../images/home/background-top.png)"></div>
        <div class="background-business" style="background-image: url(../images/business/background-top.png)"></div>
        <div class="background-left" style="background-image: url(../images/home/background-left.png)"></div>
        <div class="background-right" style="background-image: url(../images/home/background-right.png)"></div>
        <div class="background-bottom" style="background-image: url(../images/home/background-top.png)"></div>
      </div>

      <div class="business-container">
        <div class="top-banner">
          <div class="top-banner-content wow fadeInDown">
            <h2 class="title-content">Kết nối với khách hàng của bạn</h2>
            <p class="desc-content">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis aliquam mi odio. Donec feugiat accumsan turpis ut scelerisque. </p>
            <div class="wrap-button">
              <a href="#" class="btn-watch-video waves-light"><i class="fa fa-play"></i>Xem video</a>
              <a href="#" class="btn-signup-white waves-light">Đăng ký miễn phí</a>
            </div>
            <div class="center">
              <div class="wrap-image">
                <img src="../images/business/banner-top.png" class="img-responsive">
              </div>
            </div>
          </div>
        </div>
        <div class="work-with-joy-block">
          <h2 class="title-block wow fadeInDown">Nhận đánh giá, góp ý từ khách hàng <br>dễ dàng và nhanh chóng</h2>
          <div class="center">
            <div class="content-left wow fadeInLeft">
              <h3 class="title-content-black">Cách làm truyền thống</h3>
              <p class="desc-content">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut</p>
              <div class="wrap-image">
                <img src="../images/business/wwj-1.png" class="img-responsive">
              </div>
            </div>
            <div class="content-right wow fadeInRight">
              <div class="wrap-image">
                <img src="../images/business/wwj-2.png" class="img-responsive">
              </div>
              <h3 class="title-content-red">Với GonJoy</h3>
              <p class="desc-content">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut</p>
            </div>
          </div>
        </div>

        <div class="block-content-right-fluid">
          <div class="content-left wow fadeInLeft">
            <div class="wrap-image">
              <img src="../images/business/block-1.png" class="img-responsive">
            </div>
          </div>
          <div class="content-right wow fadeInRight">
            <h4 class="red-title">Tính năng</h4>
            <h2 class="black-title">Đặt Bàn</h2>
            <p class="desc-content">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exe</p>
            <ul class="check-list">
              <li class="item-check"><i class="j-check"></i>Lorem ipsum dolor sit amet consectetur</li>
              <li class="item-check"><i class="j-check"></i>Excepteur sint occaecat cupidatat non proident</li>
              <li class="item-check"><i class="j-check"></i>Sed ut perspiciatis unde omnis iste natus error sit</li>
            </ul>
          </div>
        </div>

        <div class="block-content-left-fluid">
          <div class="content-left wow fadeInLeft">
            <div class="wrap-content">
              <h4 class="red-title">Tính năng</h4>
              <h2 class="black-title">Ship hàng</h2>
              <p class="desc-content">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exe</p>
              <ul class="check-list">
                <li class="item-check"><i class="j-check"></i>Lorem ipsum dolor sit amet consectetur</li>
                <li class="item-check"><i class="j-check"></i>Excepteur sint occaecat cupidatat non proident</li>
                <li class="item-check"><i class="j-check"></i>Sed ut perspiciatis unde omnis iste natus error sit</li>
              </ul>
            </div>
          </div>
          <div class="content-right wow fadeInRight">
            <div class="wrap-image">
              <img src="../images/business/block-2.png" class="img-responsive">
            </div>
          </div>
        </div>

        <div class="block-content-right-fluid">
          <div class="content-left wow fadeInLeft">
            <div class="wrap-image">
              <img src="../images/business/block-3.png" class="img-responsive">
            </div>
          </div>
          <div class="content-right wow fadeInRight">
            <h4 class="red-title">Tính năng</h4>
            <h2 class="black-title">Phân tích ý kiến khách hàng</h2>
            <p class="desc-content">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exe</p>
            <ul class="check-list">
              <li class="item-check"><i class="j-check"></i>Lorem ipsum dolor sit amet consectetur</li>
              <li class="item-check"><i class="j-check"></i>Excepteur sint occaecat cupidatat non proident</li>
              <li class="item-check"><i class="j-check"></i>Sed ut perspiciatis unde omnis iste natus error sit</li>
            </ul>
          </div>
        </div>

        <div class="block-content-left-fluid">
          <div class="content-left wow fadeInLeft">
            <div class="wrap-content">
              <h4 class="red-title">Tính năng</h4>
              <h2 class="black-title">Tối ưu Menu</h2>
              <p class="desc-content">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exe</p>
              <ul class="check-list">
                <li class="item-check"><i class="j-check"></i>Lorem ipsum dolor sit amet consectetur</li>
                <li class="item-check"><i class="j-check"></i>Excepteur sint occaecat cupidatat non proident</li>
                <li class="item-check"><i class="j-check"></i>Sed ut perspiciatis unde omnis iste natus error sit</li>
              </ul>
            </div>
          </div>
          <div class="content-right wow fadeInRight">
            <div class="wrap-image">
              <img src="../images/business/block-4.png" class="img-responsive">
            </div>
          </div>
        </div>

        <div class="block-content-right-fluid">
          <div class="content-left wow fadeInLeft">
            <div class="wrap-image">
              <img src="../images/business/block-5.png" class="img-responsive">
            </div>
          </div>
          <div class="content-right wow fadeInRight">
            <h4 class="red-title">Tính năng</h4>
            <h2 class="black-title">Quản lý nhân viên</h2>
            <p class="desc-content">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exe</p>
            <ul class="check-list">
              <li class="item-check"><i class="j-check"></i>Lorem ipsum dolor sit amet consectetur</li>
              <li class="item-check"><i class="j-check"></i>Excepteur sint occaecat cupidatat non proident</li>
              <li class="item-check"><i class="j-check"></i>Sed ut perspiciatis unde omnis iste natus error sit</li>
            </ul>
          </div>
        </div>

        <div class="joy-connect">
          <h2 class="content-block wow fadeInUp">Hơn 500+ cửa hàng đã kết nối với <span class="red-content">Joy</span></h2>
          <div class="joy-connect-content wow fadeIn" style="background-image: url(../images/business/joy-connect.png); text-align: center">
            <div class="container">
              <div class="wrap-image-has-tooltip image-1">
                <img src="../images/business/people-1.jpg" class="img-responsive">
                <div class="wrap-tooltip">
                  <h2 class="title-tooltip">Jimmy</h2>
                  <p class="desc-tooltip">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exe</p>
                </div>
              </div>
              <div class="wrap-image-has-tooltip image-2">
                <img src="../images/business/people-2.jpg" class="img-responsive">
                <div class="wrap-tooltip">
                  <h2 class="title-tooltip">Jimmy</h2>
                  <p class="desc-tooltip">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exe</p>
                </div>
              </div>
              <div class="wrap-image-has-tooltip image-3">
                <img src="../images/business/people-3.jpg" class="img-responsive">
                <div class="wrap-tooltip">
                  <h2 class="title-tooltip">Jimmy</h2>
                  <p class="desc-tooltip">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exe</p>
                </div>
              </div>
              <div class="wrap-image-has-tooltip image-4">
                <img src="../images/business/people-4.jpg" class="img-responsive">
                <div class="wrap-tooltip">
                  <h2 class="title-tooltip">Jimmy</h2>
                  <p class="desc-tooltip">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exe</p>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="bottom-content" style="background-image: url(../images/business/background-bottom.png)">
          <h2 class="title-block wow fadeInDown">Kết nối với khách hàng của bạn</h2>
          <p class="desc-content wow fadeInDown">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis aliquam mi odio. Donec feugiat accumsan turpis ut scelerisque. </p>
          <div class="wrap-button wow fadeInDown"><a href="#" class="btn-signup-white waves-light">Đăng ký miễn phí</a></div>
        </div>

      </div>

      <div class="clearfix"></div>
    </section>

    <!-- include footer.html -->
    @@include('../layouts/footer.html')
  </div>

  <!-- include scripts.html -->
  @@include('../layouts/scripts.html')
</body>
</html>