<!doctype html>
<html lang="en">
<head>
  <!-- include head.html -->
  @@include('../layouts/head.html', {
    "title": "For business"
  })
  <!-- include styles.html -->
  @@include('../layouts/styles.html')
</head>
<body class="loading">
  <div class="loader"></div>
  <p class="scroll-down" style="color: #FFF"><i class="j-arrow-right"></i>Scroll down</p>
  <div class="wrapper">
    <!-- include header.html -->
    @@include('../layouts/header-en.html', {
    "link": "business.html"
  })

    <section class="main-container business">
      <!-- background index -->
      <div class="background-container">
        <div class="background-top" style="background-image: url(images/home/background-top.png)"></div>
        <div class="background-business" style="background-image: url(images/business/background-top.png)"></div>
        <div class="background-left" style="background-image: url(images/home/background-left.png)"></div>
        <div class="background-right" style="background-image: url(images/home/background-right.png)"></div>
        <div class="background-bottom" style="background-image: url(images/home/background-top.png)"></div>
      </div>
      <!-- end -->
      <!-- main content -->
      <div class="business-container">
        <!-- block top -->
        <div class="top-banner">
          <div class="top-banner-content wow fadeInDown">
            <h2 class="title-content">CONNECT WITH YOUR CUSTOMER ALL THE TIME</h2>
            <p class="desc-content">Connect your customer 24/7. <br>Support your business 24/7.</p>
            <div class="wrap-button">
              <a href="#" class="btn-watch-video waves-light"><i class="fa fa-play"></i>Watch guide video</a>
              <a href="#" class="btn-signup-white waves-light">Free register</a>
            </div>
            <div class="center">
              <div class="wrap-image">
                <img src="images/business/banner-top.png" class="img-responsive">
              </div>
            </div>
          </div>
        </div>
        <!-- end block -->
        <!-- block work with joy -->
        <div class="work-with-joy-block">
          <h2 class="title-block wow fadeInDown">Recieve feedback <br>from your customer effectively</h2>
          <div class="center">
            <div class="content-left wow fadeInLeft">
              <div class="wrap-content">
                <h3 class="title-content-black">Traditional Way</h3>
                <p class="desc-content">Be easily distracted with burdens of messy feedback</p>
              </div>
              <div class="wrap-image">
                <img src="images/business/wwj-1.png" class="img-responsive">
              </div>
            </div>
            <div class="content-right wow fadeInRight">
              <div class="wrap-image">
                <img src="images/business/wwj-2.png" class="img-responsive">
              </div>
              <div class="wrap-content">
                <h3 class="title-content-red">With GonJoy</h3>
                <p class="desc-content">Automatic collect  and analize customer's feedback in the real time to improve your service.</p>
              </div>
            </div>
          </div>
        </div>
        <!-- end block -->
        <!-- block with content in right -->
        <div class="block-content-right-fluid">
          <div class="content-left wow fadeInLeft">
            <div class="wrap-image">
              <img src="images/business/block-1.png" class="img-responsive">
            </div>
          </div>
          <div class="content-right wow fadeInRight">
            <h4 class="red-title">Feature</h4>
            <h2 class="black-title">Table booking</h2>
            <p class="desc-content">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exe</p>
            <ul class="check-list">
              <li class="item-check"><i class="j-check"></i>Manage your reservation booking effectively</li>
              <li class="item-check"><i class="j-check"></i>Conversational interface to adapt your customer demand quickly</li>
              <li class="item-check"><i class="j-check"></i>Remind your table reservations</li>
            </ul>
          </div>
        </div>
        <!-- end block -->
        <!-- block with content in left -->
        <div class="block-content-left-fluid">
          <div class="content-left wow fadeInLeft">
            <div class="wrap-content">
              <h4 class="red-title">Feature</h4>
              <h2 class="black-title">Shipping</h2>
              <p class="desc-content">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exe</p>
              <ul class="check-list">
                <li class="item-check"><i class="j-check"></i>Interact with your customer</li>
                <li class="item-check"><i class="j-check"></i>Connect with reliable shipper</li>
                <li class="item-check"><i class="j-check"></i>Track your shipping process</li>
                <li class="item-check"><i class="j-check"></i>Manage the quanity, quality and cost of delivery</li>
              </ul>
            </div>
          </div>
          <div class="content-right wow fadeInRight">
            <div class="wrap-image">
              <img src="images/business/block-2.png" class="img-responsive">
            </div>
          </div>
        </div>
        <!-- end block -->

        <div class="block-content-right-fluid">
          <div class="content-left wow fadeInLeft">
            <div class="wrap-image">
              <img src="images/business/block-3.png" class="img-responsive">
            </div>
          </div>
          <div class="content-right wow fadeInRight">
            <h4 class="red-title">Feature</h4>
            <h2 class="black-title">Customer behaviour analysis</h2>
            <p class="desc-content">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exe</p>
            <ul class="check-list">
              <li class="item-check"><i class="j-check"></i>A vitual marketing consultant</li>
              <li class="item-check"><i class="j-check"></i>Provide your customer behaviour analysis by the stunning diagrams</li>
              <li class="item-check"><i class="j-check"></i>Collect your customer database</li>
              <li class="item-check"><i class="j-check"></i>Communicate and satisfy customer directly</li>
            </ul>
          </div>
        </div>

        <div class="block-content-left-fluid">
          <div class="content-left wow fadeInLeft">
            <div class="wrap-content">
              <h4 class="red-title">Feature</h4>
              <h2 class="black-title">Optimise your menu</h2>
              <p class="desc-content">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exe</p>
              <ul class="check-list">
                <li class="item-check"><i class="j-check"></i>Show off your menu in the friendly interface.</li>
                <li class="item-check"><i class="j-check"></i>Customize menu for your target or event</li>
                <li class="item-check"><i class="j-check"></i>Smart arrange your menu by date, price and best seller</li>
                <li class="item-check"><i class="j-check"></i>Introduce promotions to your diners </li>
              </ul>
            </div>
          </div>
          <div class="content-right wow fadeInRight">
            <div class="wrap-image">
              <img src="images/business/block-4.png" class="img-responsive">
            </div>
          </div>
        </div>

        <div class="block-content-right-fluid">
          <div class="content-left wow fadeInLeft">
            <div class="wrap-image">
              <img src="images/business/block-5.png" class="img-responsive">
            </div>
          </div>
          <div class="content-right wow fadeInRight">
            <h4 class="red-title">Feature</h4>
            <h2 class="black-title">Staff management</h2>
            <p class="desc-content">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exe</p>
            <ul class="check-list">
              <li class="item-check"><i class="j-check"></i>Designate specific responsibility of staffs</li>
              <li class="item-check"><i class="j-check"></i>Access staff's operation data</li>
            </ul>
          </div>
        </div>
        <!-- block joy connect -->
        <div class="joy-connect">
          <h2 class="content-block wow fadeInUp">Over 500 service providers connect with <span class="red-content">Joy</span></h2>
          <div class="joy-connect-content wow fadeIn" style="background-image: url(images/business/joy-connect.png); text-align: center">
            <div class="container">
              <div class="wrap-image-has-tooltip image-1">
                <img src="images/business/people-1.jpg" class="img-responsive">
                <div class="wrap-tooltip">
                  <h2 class="title-tooltip">Jimmy</h2>
                  <p class="desc-tooltip">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exe</p>
                </div>
              </div>
              <div class="wrap-image-has-tooltip image-2">
                <img src="images/business/people-2.jpg" class="img-responsive">
                <div class="wrap-tooltip">
                  <h2 class="title-tooltip">Jimmy</h2>
                  <p class="desc-tooltip">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exe</p>
                </div>
              </div>
              <div class="wrap-image-has-tooltip image-3">
                <img src="images/business/people-3.jpg" class="img-responsive">
                <div class="wrap-tooltip">
                  <h2 class="title-tooltip">Jimmy</h2>
                  <p class="desc-tooltip">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exe</p>
                </div>
              </div>
              <div class="wrap-image-has-tooltip image-4">
                <img src="images/business/people-4.jpg" class="img-responsive">
                <div class="wrap-tooltip">
                  <h2 class="title-tooltip">Jimmy</h2>
                  <p class="desc-tooltip">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exe</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- end block -->
        <!-- block content bottom -->
        <div class="bottom-content" style="background-image: url(images/business/background-bottom.png)">
          <h2 class="title-block wow fadeInDown">CONNECT WITH YOUR CUSTOMER ALL THE TIME</h2>
          <p class="desc-content wow fadeInDown">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis aliquam mi odio. Donec feugiat accumsan turpis ut scelerisque. </p>
          <div class="wrap-button wow fadeInDown"><a href="#" class="btn-signup-white waves-light">Free register</a></div>
        </div>
        <!-- end block -->
      </div>

      <div class="clearfix"></div>
    </section>

    <!-- include footer.html -->
    @@include('../layouts/footer-en.html')
  </div>
  <script type="text/javascript">
    gtag('event', 'page_view' {
      page_name: 'business',
      page_category: 'en'
    })
  </script>
  <!-- include scripts.html -->
  @@include('../layouts/scripts.html')
</body>
</html>