<!doctype html>
<html lang="en">
<head>
  <!-- include head.html -->
  @@include('../layouts/head.html', {
    "title": "Trang chủ"
  })
  <!-- include styles.html -->
  @@include('../layouts/styles.html')
</head>
<body class="loading">
  <div class="loader"></div>
  <div class="wrapper">
    <!-- include header.html -->
    @@include('../layouts/header.html')

    <section class="main-container home">
      <!-- background index -->
      <div class="background-container">
        <div class="background-top" style="background-image: url(../images/home/background-top.png)"></div>
        <div class="background-left" style="background-image: url(../images/home/background-left.png)"></div>
        <div class="background-right" style="background-image: url(../images/home/background-right.png)"></div>
        <div class="background-bottom" style="background-image: url(../images/home/background-top.png)"></div>
      </div>

      <div class="home-container">
        <div class="top-banner" style="background-image: url(../images/home/top-banner.png)">
          <div class="top-banner-content wow fadeInDown">
            <div class="container">
              <div class="top-banner-background" style="background-image: url(../images/home/top-banner-item.png)"></div>
            </div>
            <div class="center">
              <div class="left-content">
                <h2 class="title-content">Trợ lý Ảo đột phá</h2>
                <p class="desc-content">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis aliquam mi odio. Donec feugiat accumsan turpis ut scelerisque. </p>
                <a href="#" class="btn-messenger waves-light"><i class="j-messenger"></i>Messenger</a>
              </div>
            </div>
          </div>
        </div>

        <div class="joy-benefit wow fadeInDown">
          <div class="center">
            <p class="small-title">NỔI BẬT CỦA JOY</p>
            <h2 class="big-title"><span class="red-content">Joy</span> giúp gì cho bạn?</h2>
            <div class="list-benefit">
              <div class="benefit-item">
                <div class="wrap-image">
                  <img src="../images/home/Tim_Dung_Dia_Diem.svg" class="img-responsive">
                </div>
                <p class="item-name">Tìm đúng địa điểm</p>
              </div>
              <div class="benefit-item">
                <div class="wrap-image">
                  <img src="../images/home/De_Xuat_Mon_An.svg" class="img-responsive">
                </div>
                <p class="item-name">Đề xuất món ăn</p>
              </div>
              <div class="benefit-item">
                <div class="wrap-image">
                  <img src="../images/home/Tiet_Kiem_Thoi_GIan.svg" class="img-responsive">
                </div>
                <p class="item-name">Tiết kiệm thời gian</p>
              </div>
              <div class="benefit-item">
                <div class="wrap-image">
                  <img src="../images/home/Tiet_Kiem_Chi_Phi.svg" class="img-responsive">
                </div>
                <p class="item-name">Tiết kiệm chi phí</p>
              </div>
              <div class="benefit-item">
                <div class="wrap-image">
                  <img src="../images/home/Tim_Theo_Cam_Xuc.svg" class="img-responsive">
                </div>
                <p class="item-name">Tìm theo cảm xúc</p>
              </div>
              <div class="benefit-item">
                <div class="wrap-image">
                  <img src="../images/home/Dung_Joy_Gop_Y.svg" class="img-responsive">
                </div>
                <p class="item-name">Dùng Joy góp ý</p>
              </div>
              <div class="benefit-item">
                <div class="wrap-image">
                  <img src="../images/home/Chia_Se_Ban_Be.svg" class="img-responsive">
                </div>
                <p class="item-name">Chia sẻ với bạn bè</p>
              </div>
              <div class="benefit-item">
                <div class="wrap-image">
                  <img src="../images/home/Dat_Cho_Nhanh_Chonh.svg" class="img-responsive">
                </div>
                <p class="item-name">Đặt chỗ nhanh chóng</p>
              </div>
              <div class="benefit-item">
                <div class="wrap-image">
                  <img src="../images/home/Nhan_Khuyen_Mai.svg" class="img-responsive">
                </div>
                <p class="item-name">Nhận khuyến mãi</p>
              </div>
              <div class="benefit-item">
                <div class="wrap-image">
                  <img src="../images/home/Goi_Mon_Qua_Joy.svg" class="img-responsive">
                </div>
                <p class="item-name">Gọi món qua Joy</p>
              </div>
            </div>
          </div>
        </div>

        <div class="block-content-right">
          <div class="center">
            <div class="left-content wow fadeInLeft">
              <img src="../images/home/block-1.png" class="img-responsive">
            </div>
            <div class="right-content wow fadeInRight">
              <h2 class="title-block">Gợi ý theo sức khoẻ</h2>
              <p class="desc-content">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis aliquam mi odio. Donec feugiat accumsan turpis ut scelerisque. </p>
              <img src="../images/home/block-bottom-1.png" class="img-bottom">
            </div>
          </div>
        </div>

        <div class="block-content-left">
          <div class="center">
            <div class="left-content wow fadeInLeft">
              <h2 class="title-block">Chơi game góp ý</h2>
              <p class="desc-content">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis aliquam mi odio. Donec feugiat accumsan turpis ut scelerisque. </p>
            </div>
            <div class="right-content wow fadeInRight">
              <img src="../images/home/block-2.png" class="img-responsive">
            </div>
          </div>
        </div>

        <div class="block-content-right">
          <div class="center">
            <div class="left-content wow fadeInLeft">
              <img src="../images/home/block-3.png" class="img-responsive">
            </div>
            <div class="right-content wow fadeInRight">
              <h2 class="title-block">Hệ thống phân tích<br>ngôn ngữ</h2>
              <p class="desc-content">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis aliquam mi odio. Donec feugiat accumsan turpis ut scelerisque. </p>
              <img src="../images/home/block-bottom-2.png" class="img-bottom">
            </div>
          </div>
        </div>

        <div class="block-content-left">
          <div class="center">
            <div class="left-content wow fadeInLeft">
              <h2 class="title-block">Cá nhân hoá</h2>
              <p class="desc-content">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis aliquam mi odio. Donec feugiat accumsan turpis ut scelerisque. </p>
              <img src="../images/home/block-bottom-3.png" class="img-bottom">
            </div>
            <div class="right-content wow fadeInRight">
              <img src="../images/home/block-4.png" class="img-responsive">
            </div>
          </div>
        </div>

        <div class="block-joy-contact wow fadeInDown">
          <div class="center">
            <h2 class="title-block">Hãy để <span class="red-title">Joy</span> phục vụ bạn ngay bây giờ!</h2>
            <a href="#" class="btn-messenger waves-light"><i class="j-messenger"></i>Messenger</a>
          </div>
        </div>

        <div class="bottom-banner" style="background-image: url(../images/home/bottom-banner.png)">
          <div class="wrap-image wow fadeInLeft">
            <img class="img-responsive" src="../images/home/bottom-banner-item.png">
          </div>
          <div class="bottom-banner-content wow fadeInRight">
            <h2 class="title-content">Joy và Doanh nghiệp</h2>
            <p class="desc-content">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exe</p>
            <a href="#" class="btn-discover waves-light">Khám phá các lợi ích <i class="j-arrow-right"></i></a>
          </div>
        </div>

      </div>

      <div class="clearfix"></div>
    </section>

    <!-- include footer.html -->
    @@include('../layouts/footer.html')
  </div>

  <!-- include scripts.html -->
  @@include('../layouts/scripts.html')
</body>
</html>