<!doctype html>
<html lang="en">
<head>
  <!-- include head.html -->
  @@include('../layouts/head.html', {
    "title": "Kết nối với khách hàng"
  })
  <!-- include styles.html -->
  @@include('../layouts/styles.html')
</head>
<body class="loading">
  <div class="loader"></div>
  <div class="wrapper">
    <!-- include header.html -->
    @@include('../layouts/header-en.html', {
    "class": "signin-header",
    "link": "signin.html"
  })

    <section class="main-container signin">
      <div class="wrap-content">
        <!-- form sign in -->
        <div class="left-content">
          <form class="custom-form wow fadeInDown">
            <h2 class="form-title">Signin</h2>
            <div class="group-input">
              <input type="text" name="Account" class="input-form" placeholder="Account name">
              <label for="Account" class="label-content">Lorem ipsum dolor sit amet</label>
            </div>
            <div class="group-input">
              <input type="password" name="Password" class="input-form" placeholder="Password">
              <label for="Password" class="label-content">Lorem ipsum dolor sit amet</label>
            </div>
            <button class="btn-submit waves-light" type="submit">Submit</button>
            <p class="form-desc"><a href="#">Fogot password?</a></p>
          </form>
        </div>
        <!-- end -->
        <!-- block background right -->
        <div class="right-content">
          <div class="wrapper-content">
            <h2 class="title-content wow fadeInDown">Connect with your customer all the time</h2>
            <p class="desc-content wow fadeInDown">Connect your customer 24/7.<br>Support your business 24/7.</p>
          </div>
          <div class="wrap-image wow fadeInUp">
            <img src="images/form/Background.png" class="img-responsive">
          </div>
        </div>
        <!-- end -->
      </div>

      <div class="clearfix"></div>
    </section>
  </div>
  <script type="text/javascript">
    gtag('event', 'page_view' {
      page_name: 'signin',
      page_category: 'en'
    })
  </script>
  <!-- include scripts.html -->
  @@include('../layouts/scripts.html')
</body>
</html>