<!doctype html>
<html lang="en">
<head>
  <!-- include head.html -->
  @@include('../layouts/head.html', {
    "title": "Kết nối với khách hàng"
  })
  <!-- include styles.html -->
  @@include('../layouts/styles.html')
</head>
<body class="loading">
  <div class="loader"></div>
  <div class="wrapper">
    <!-- include header.html -->
    @@include('../layouts/header.html', {
    "class": "signup-header",
    "link": "signup-en.html"
  })

    <section class="main-container signin">
      <div class="wrap-content">
        <!-- form sign up -->
        <div class="left-content">
          <form class="custom-form wow fadeInDown">
            <h2 class="form-title">Đăng ký</h2>
            <div class="group-input group-error">
              <input type="text" name="Account" class="input-form" placeholder="Tài khoản">
              <label for="Account" class="label-content">Lorem ipsum dolor sit amet</label>
            </div>
            <div class="group-input group-success">
              <input type="password" name="Password" class="input-form" placeholder="Mật khẩu">
              <label for="Password" class="label-content">Lorem ipsum dolor sit amet</label>
            </div>
            <div class="group-input group-warning">
              <input type="password" name="confirmPassword" class="input-form" placeholder="Nhập lại mật khẩu">
              <label for="confirmPassword" class="label-content">Lorem ipsum dolor sit amet</label>
            </div>
            <div class="group-input">
              <input type="text" name="Name" class="input-form" placeholder="Tên">
              <label for="Name" class="label-content">Lorem ipsum dolor sit amet</label>
            </div>
            <div class="group-input">
              <input type="email" name="Email" class="input-form" placeholder="Email">
              <label for="Email" class="label-content">Lorem ipsum dolor sit amet</label>
            </div>
            <div class="group-input">
              <input type="text" name="PhoneNumber" class="input-form" placeholder="Số điện thoại">
              <label for="PhoneNumber" class="label-content">Lorem ipsum dolor sit amet</label>
            </div>
            <div class="group-input">
              <input type="text" name="Address" class="input-form" placeholder="Địa chỉ">
              <label for="Address" class="label-content">Lorem ipsum dolor sit amet</label>
            </div>
            <button class="btn-submit waves-light" type="submit">Đăng ký</button>
          </form>
        </div>
        <!-- end -->
        <!-- block background right -->
        <div class="right-content">
          <div class="wrapper-content">
            <h2 class="title-content wow fadeInDown">Kết nối với khách hàng của bạn</h2>
            <p class="desc-content wow fadeInDown">Kết nối khách hàng của bạn 24/7.<br>Hỗ trợ việc kinh doanh của bạn 24/7</p>
          </div>
          <div class="wrap-image wow fadeInUp">
            <img src="images/form/Background.png" class="img-responsive">
          </div>
        </div>
        <!-- end -->
      </div>

      <div class="clearfix"></div>
    </section>
  </div>

  <!-- include scripts.html -->
  @@include('../layouts/scripts.html')
</body>
</html>