<!doctype html>
<html lang="en">
<head>
  <!-- include head.html -->
  @@include('../layouts/head.html', {
    "title": "For user"
  })
  <!-- include styles.html -->
  @@include('../layouts/styles.html')
</head>
<body class="loading">
  <div class="loader"></div>
  <p class="scroll-down"><i class="j-arrow-right"></i>cuộn xuống</p>
  <div class="wrapper">
    <!-- include header.html -->
    @@include('../layouts/header-en.html', {
    "link": "user.html"
  })

    <section class="main-container home">
      <!-- background index -->
      <div class="background-container">
        <div class="background-top" style="background-image: url(images/home/background-top.png)"></div>
        <div class="background-left" style="background-image: url(images/home/background-left.png)"></div>
        <div class="background-right" style="background-image: url(images/home/background-right.png)"></div>
        <div class="background-bottom" style="background-image: url(images/home/background-top.png)"></div>
      </div>
      <!-- end -->
      <!-- main content -->
      <div class="home-container">
        <!-- block top -->
        <div class="top-banner" style="background-image: url(images/home/top-banner.png)">
          <div class="top-banner-content wow fadeInDown">
            <div class="container">
              <div class="top-banner-background" style="background-image: url(images/home/top-banner-item.png)"></div>
              <div class="top-banner-background-mobile">
                <img src="images/home/top-banner-item-mobile.png" class="img-responsive" alt="">
              </div>
            </div>
            <div class="center">
              <div class="left-content">
                <h2 class="title-content">Revolutionary Artificial Intelligent Assitant</h2>
                <p class="desc-content">Your friendly virtual dining assitant. Find right dining place in the right time. Inbox "Gonjoy" on Facebook Messenger</p>
                <a href="#" class="btn-messenger waves-light"><i class="j-messenger"></i>Messenger</a>
              </div>
            </div>
          </div>
        </div>
        <!-- end block top -->
        <!-- block joy benefit -->
        <div class="joy-benefit">
          <div class="center">
            <p class="small-title wow fadeInDown">OUTSTANDING FEARTURES</p>
            <h2 class="big-title wow fadeInDown">How <span class="red-content">Joy</span> can help you?</h2>
            <!-- list benefit -->
            <div class="list-benefit">
              <!-- item benefit -->
              <div class="benefit-item wow fadeInDown">
                <div class="wrap-image">
                  <img src="images/home/Tim_Dung_Dia_Diem.svg" class="img-responsive">
                </div>
                <p class="item-name">Correctly searching</p>
              </div>
              <!-- end item -->
              <div class="benefit-item wow fadeInDown">
                <div class="wrap-image">
                  <img src="images/home/De_Xuat_Mon_An.svg" class="img-responsive">
                </div>
                <p class="item-name">Smart recommendation</p>
              </div>
              <div class="benefit-item wow fadeInDown">
                <div class="wrap-image">
                  <img src="images/home/Tiet_Kiem_Thoi_GIan.svg" class="img-responsive">
                </div>
                <p class="item-name">Save time</p>
              </div>
              <div class="benefit-item wow fadeInDown">
                <div class="wrap-image">
                  <img src="images/home/Tiet_Kiem_Chi_Phi.svg" class="img-responsive">
                </div>
                <p class="item-name">Save money</p>
              </div>
              <div class="benefit-item wow fadeInDown">
                <div class="wrap-image">
                  <img src="images/home/Tim_Theo_Cam_Xuc.svg" class="img-responsive">
                </div>
                <p class="item-name">Take care your emotion</p>
              </div>
              <div class="benefit-item wow fadeInDown">
                <div class="wrap-image">
                  <img src="images/home/Dung_Joy_Gop_Y.svg" class="img-responsive">
                </div>
                <p class="item-name">Feedback</p>
              </div>
              <div class="benefit-item wow fadeInDown">
                <div class="wrap-image">
                  <img src="images/home/Chia_Se_Ban_Be.svg" class="img-responsive">
                </div>
                <p class="item-name">Share with your friend</p>
              </div>
              <div class="benefit-item wow fadeInDown">
                <div class="wrap-image">
                  <img src="images/home/Dat_Cho_Nhanh_Chonh.svg" class="img-responsive">
                </div>
                <p class="item-name">Reservation Booking</p>
              </div>
              <div class="benefit-item wow fadeInDown">
                <div class="wrap-image">
                  <img src="images/home/Nhan_Khuyen_Mai.svg" class="img-responsive">
                </div>
                <p class="item-name">Promotion</p>
              </div>
              <div class="benefit-item wow fadeInDown">
                <div class="wrap-image">
                  <img src="images/home/Goi_Mon_Qua_Joy.svg" class="img-responsive">
                </div>
                <p class="item-name">Online order supporter</p>
              </div>
            </div>
            <!-- end list -->
          </div>
        </div>
        <!-- end block benefit -->
        <!-- block with content in right -->
        <div class="block-content-right">
          <div class="center">
            <div class="left-content wow fadeInLeft">
              <img src="images/home/block-1.png" class="img-responsive">
            </div>
            <div class="right-content wow fadeInRight">
              <h2 class="title-block">HEALTHY RECOMMENDATION</h2>
              <p class="desc-content">Your personal health care companion. Joy really cares your health and emotion. Providing health information in your food. Making a healthy life through smart recommendation.</p>
              <img src="images/home/block-bottom-1.png" class="img-bottom">
            </div>
          </div>
        </div>
        <!-- end block -->

        <!-- block with content in left -->
        <div class="block-content-left">
          <div class="center">
            <div class="left-content wow fadeInLeft">
              <h2 class="title-block">GAMING FEEDBACK</h2>
              <p class="desc-content">Feedback is the Joy game. Make everything fun. Join to win your voucher.</p>
            </div>
            <div class="right-content wow fadeInRight">
              <img src="images/home/block-2.png" class="img-responsive">
            </div>
          </div>
        </div>
        <!-- end block -->
        <div class="block-content-right">
          <div class="center">
            <div class="left-content wow fadeInLeft">
              <img src="images/home/block-3.png" class="img-responsive">
            </div>
            <div class="right-content wow fadeInRight">
              <h2 class="title-block">NATURAL LANGUAGE <br>PROCESSING ALGORITHM</h2>
              <p class="desc-content">Connect with Joy. Friendly interaction based on the natural language processing. Optimise your searching process. Understand your desire.</p>
              <img src="images/home/block-bottom-2.png" class="img-bottom">
            </div>
          </div>
        </div>

        <div class="block-content-left">
          <div class="center">
            <div class="left-content wow fadeInLeft">
              <h2 class="title-block">PERSONALIZATION</h2>
              <p class="desc-content">Customize the dinning recommendation. Personalize your taste and demand. </p>
              <img src="images/home/block-bottom-3.png" class="img-bottom">
            </div>
            <div class="right-content wow fadeInRight">
              <img src="images/home/block-4.png" class="img-responsive">
            </div>
          </div>
        </div>
        <!-- block joy contact -->
        <div class="block-joy-contact wow fadeInDown">
          <div class="center">
            <h2 class="title-block">PLEASE LET <span class="red-title">Joy</span> SERVE YOU NOW</h2>
            <a href="#" class="btn-messenger waves-light"><i class="j-messenger"></i>Messenger</a>
          </div>
        </div>
        <!-- end block -->

        <!-- block content bottom -->
        <div class="bottom-banner" style="background-image: url(images/home/bottom-banner.png)">
          <div class="wrap-image wow fadeInLeft">
            <img class="img-responsive" src="images/home/bottom-banner-item.png">
          </div>
          <div class="bottom-banner-content wow fadeInRight">
            <h2 class="title-content">Joy and Your Business</h2>
            <p class="desc-content">Connect your customer 24/7.<br>Support your business 24/7.</p>
            <a href="#" class="btn-discover waves-light">Benefit Discovery <i class="j-arrow-right"></i></a>
          </div>
        </div>
        <!-- end block -->
      </div>

      <div class="clearfix"></div>
    </section>

    <!-- include footer.html -->
    @@include('../layouts/footer-en.html')
  </div>

  <!-- include scripts.html -->
  @@include('../layouts/scripts.html')
</body>
</html>