.home {
  position: relative;
  .home-container {
    position: relative;
    z-index: 1;
  }
  .top-banner {
    height: 820px;
    background-repeat: no-repeat;
    background-position: top center;
    background-size: 100% 70%;
    position: relative;
  }
  .top-banner-background {
    background-repeat: no-repeat;
    background-position: top right;
    background-size: 60% 100%;
  }
  .top-banner-content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    bottom: 0;
    .center,
    .container {
      position: absolute;
      top: 0;
      left: 50%;
      bottom: 0;
      @include transform(translateX(-50%));
    }
    .left-content {
      width: 40%;
      position: absolute;
      left: 0;
      top: 50%;
      padding-bottom: 120px;
      @include transform(translateY(-50%));
    }
    .top-banner-background {
      width: 100%;
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
      background-repeat: no-repeat;
      background-position: right;
      background-size: 60% auto;
    }
    .title-content {
      font-family: $SSB;
      font-size: 49px;
      color: #FFFFFF;
      letter-spacing: 0;
      line-height: 79px;
      margin-bottom: 20px;
    }
    .desc-content {
      font-family: $RR;
      font-size: 16px;
      color: #FFFFFF;
      letter-spacing: 0;
      line-height: 28px;
      margin-bottom: 25px;
    }
  }
  .joy-benefit {
    margin-bottom: 50px;
    .small-title {
      font-family: $SSB;
      font-size: 13px;
      color: #948E8E;
      letter-spacing: 1.05px;
      margin-bottom: 10px;
      text-align: center;
    }
    .big-title {
      font-family: $SSB;
      font-size: 32px;
      color: #000;
      letter-spacing: 0;
      line-height: 43px;
      margin-bottom: 40px;
      text-align: center;
      .red-content {
        color: #ED2839;
      }
    }
  }
  .list-benefit {
    margin: 0 -50px;
    &:after {
      content: '';
      display: table;
      clear: both;
    }
  }
  .benefit-item {
    width: 20%;
    float: left;
    margin-bottom: 5px;
    &:nth-child(5n + 1) {
      clear: left;
    }
    .wrap-image {
      padding: 0 50px;
    }
    .item-name {
      font-family: $ML;
      text-align: center;
      font-size: 15px;
      color: #3E3E3E;
      letter-spacing: 0;
      line-height: 43px;
    }
  }
}

.background-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
  .background-top {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: auto;
    height: 1300px;
    background-repeat: no-repeat;
    background-position: center top;
    background-size: 140% 100%;
  }
  .background-bottom {
    position: absolute;
    top: auto;
    left: 0;
    right: 0;
    bottom: 0;
    height: 1300px;
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: 140% 100%;
  }
  .background-left {
    position: absolute;
    top: 1300px;
    left: 0;
    right: 50%;
    bottom: 600px;
    background-repeat-x: no-repeat;
    background-position: top left;
    background-size: 100% auto;
  }
  .background-right {
    position: absolute;
    top: 1300px;
    left: 50%;
    right: 0;
    bottom: 600px;
    background-repeat-x: no-repeat;
    background-position: top right;
    background-size: 100% auto;
  }
}

.block-content-right {
  .center {
    @include flexbox();
  }
  // @include flex-direction(column);

  .left-content {
    width: 55%;
    min-width: 55%;
  }
  .right-content {
    width: 45%;
    min-width: 45%;
    position: relative;
    @include flexbox();
    @include justify-content(center);
    @include align-items(flex-start);
    @include flex-direction(column);
  }
  .title-block {
    font-family: $SSB;
    font-size: 36px;
    color: #3E3E3E;
    letter-spacing: 0;
    line-height: 43px;
    margin-bottom: 20px;
  }
  .desc-content {
    font-family: $RR;
    font-size: 14px;
    color: #949AA0;
    letter-spacing: 0;
    line-height: 25px;
  }
  .img-bottom {
    position: absolute;
    bottom: 0;
    left: 0;
  }
}

.block-content-left {
  .center {
    @include flexbox();
  }
  .left-content {
    width: 40%;
    min-width: 40%;
    position: relative;
    @include flexbox();
    @include justify-content(center);
    @include align-items(flex-start);
    @include flex-direction(column);
  }
  .right-content {
    width: 60%;
    min-width: 60%;
  }
  .title-block {
    font-family: $SSB;
    font-size: 36px;
    color: #3E3E3E;
    letter-spacing: 0;
    line-height: 43px;
    margin-bottom: 20px;
  }
  .desc-content {
    font-family: $RR;
    font-size: 14px;
    color: #949AA0;
    letter-spacing: 0;
    line-height: 25px;
  }
  .img-bottom {
    position: absolute;
    bottom: 0;
    right: 0;
  }
}

.block-joy-contact {
  text-align: center;
  padding-top: 70px;
  padding-bottom: 70px;
  .title-block {
    font-family: $SSB;
    font-size: 40px;
    color: #3E3E3E;
    letter-spacing: 0;
    line-height: 63px;
    margin-bottom: 25px;
    .red-title {
      color: #ED2839;
    }
  }
}

.bottom-banner {
  background-size: 100%;
  padding: 150px 0 20px;
  @include flexbox();
  .wrap-image,
  .bottom-banner-content {
    min-width: 50%;
    width: 50%;
  }
  .bottom-banner-content {
    @include flexbox();
    @include justify-content(center);
    @include align-items(flex-start);
    @include flex-direction(column);
    padding-left: 50px;
    .title-content {
      font-family: $SSB;
      font-size: 32px;
      color: #FFFFFF;
      letter-spacing: 0;
      line-height: 43px;
      margin-bottom: 15px;
    }
    .desc-content {
      font-family: $RR;
      font-size: 14px;
      color: rgba(255,255,255,.61);
      letter-spacing: 0;
      line-height: 25px;
      margin-bottom: 25px;
      max-width: 450px;
    }
    .btn-discover {
      border: 1px solid rgba(254, 180, 182, .52);
      border-radius: 126.73px;
      font-family: $SSB;
      font-size: 14.73px;
      color: #FFFFFF !important;
      letter-spacing: 0.57px;
      padding: 20px 30px 15px;
      .j-arrow-right {
        margin-left: 15px;
      }
    }
  }
}