.main-container {
  overflow-x: hidden;
}

::-moz-selection {
    color: #fff;
    background: #ed2839;
}

::selection {
    color: #fff;
    background: #ed2839;
}

.scroll-down {
  position: absolute;
  right: 60px;
  top: 500px;
  z-index: 10;
  cursor: pointer;
  animation: bounce-custom 1s infinite alternate;
  -webkit-animation: bounce-custom 1s infinite alternate;
  @include transform(rotate(-90deg));
  font-family: $RR;
  font-size: 12px;
  color: #A4A6AF;
  text-transform: uppercase;
  letter-spacing: 0;
  .j-arrow-right:before {
    @include transform(rotate(-180deg));
    display: inline-block;
    margin-right: 10px;
    position: relative;
    top: 1px;
  }
}

@keyframes bounce-custom {
  from {
    top: 500px;
  }
  to {
    top: 485px;
  }
}
@-webkit-keyframes bounce-custom {
  from {
    top: 500px;
  }
  to {
    top: 485px;
  }
}