<footer class="footer-container">
  <div class="container-fluid">
    <div class="row">
      <div class="container">
        <div class="footer-content">
          <div class="footer-content-left">
            <h2 class="logo-footer"><a href="#" class="logo-link"><img src="images/partial/logo.png"></a></h2>
            <span class="copyright-text">&copy; 2017 GOnJoy. All Rights Reserved</span>
          </div>
          <div class="footer-content-right">
            <!-- list menu footer -->
            <ul class="top-nav-menu">
              <li class="top-nav-menu-item"><a href="" class="item-link">Người dùng</a></li>
              <li class="top-nav-menu-item"><a href="" class="item-link">Doanh nghiệp</a></li>
              <li class="top-nav-menu-item"><a href="" class="item-link">FAQ</a></li>
              <li class="top-nav-menu-item"><a href="" class="item-link">Về chúng tôi</a></li>
              <li class="top-nav-menu-item"><a href="" class="item-link">Block</a></li>
            </ul>
            <!-- end -->
            <!-- list social link -->
            <ul class="bottom-social-list">
              <li class="social-item"><a href="" class="item-link"><i class="j-facebook"></i></a></li>
              <li class="social-item"><a href="" class="item-link"><i class="j-youtube"></i></a></li>
              <li class="social-item"><a href="" class="item-link"><i class="j-google"></i></a></li>
            </ul>
            <!-- end -->
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="clearfix"></div>
</footer>