<title>@@title</title>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<meta http-equiv="Content-type" content="text/html;charset=UTF-8">
<meta name="SKYPE_TOOLBAR" content="SKYPE_TOOLBAR_PARSER_COMPATIBLE">
<!-- favicon -->
<link href="images/favicon.ico" type="image/x-icon" rel="icon">
<!-- meta social -->
<meta name="twitter:card" content="" />
<meta name="twitter:site" content="" />
<meta name="twitter:creator" content="" />
<meta property="og:description" content="" />
<meta property="og:image" content="" />
<meta property="og:site_name" content="">
<meta property="og:title" content="" />
<meta property="og:type" content="">
<meta property="og:url" content="" />
<!-- Google Font -->

<style type="text/css">
  .loader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 999999;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    justify-content: center;

    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;

    background-color: #fff;
    background-position: center center;
    background-repeat: no-repeat;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
  }
  .loader:after {
    content: '';
    background-image: url(images/partial/button-loader.gif);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 135px;
    height: 30px;
    margin-left: 7px;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
  }
  .loader:before {
    content: '';
    background-image: url(images/partial/logo.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 110px;
    height: 110px;
    margin-bottom: 10px;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
  }
  .loader.loaded:before,
  .loader.loaded:after,
  .loader.loaded {
    opacity: 0;
    visibility: hidden;
  }

</style>