<header class="header-container">
  <div class="container-fluid">
    <div class="row">
      <div class="container">
        <div class="header-mobile-content">
          <h1 class="logo"><a href="#" class="logo-link"><img src="images/partial/logo.png"></a></h1>
          <button class="btn-menu-mobile">
            <span class="content-btn"></span>
          </button>
        </div>
        <div class="header-content">
          <div class="header-content-top">
            <a href="" class="item-link">English</a>
          </div>
          <div class="header-content-bottom">
            <div class="header-content-left">
              <h1 class="logo"><a href="/index.html" class="logo-link"><img src="images/partial/logo.png"></a></h1>
              <ul class="top-nav-menu">
                <li class="top-nav-menu-item"><a href="" class="item-link">Người dùng</a></li>
                <li class="top-nav-menu-item"><a href="" class="item-link">Doanh nghiệp</a></li>
                <li class="top-nav-menu-item"><a href="" class="item-link">FAQ</a></li>
                <li class="top-nav-menu-item"><a href="/about-us.html" class="item-link">Về chúng tôi</a></li>
                <li class="top-nav-menu-item"><a href="" class="item-link">Block</a></li>
              </ul>
            </div>
            <div class="header-content-right">
              <a href="#" class="btn-signin">Đăng nhập</a>
              <a href="#" class="btn-signup waves-light">Đăng ký miễn phí</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>