.btn-signup {
  display: inline-block;
  padding: 10px 25px 8px;
  color: #fff;
  font-family: $SSB;
  font-size: 13px;
  border: 1px solid #fff;
  margin-left: 10px;
  border-radius: 4px;
  &:hover,
  &:focus {
    color: #fff;
  }
}

.btn-signin {
  display: inline-block;
  padding: 10px 25px 8px;
  text-transform: uppercase;
  font-family: $SSB;
  font-size: 13px;
  color: rgba(255,255,255,.7) !important;
  letter-spacing: 0;
}

.btn-messenger {
  background-image: -webkit-linear-gradient(-176deg, #00C6FF 0%, #0070FF 99%);
  background-image: -moz-linear-gradient(-176deg, #00C6FF 0%, #0070FF 99%);
  background-image: -o-linear-gradient(-176deg, #00C6FF 0%, #0070FF 99%);
  background-image: linear-gradient(-176deg, #00C6FF 0%, #0070FF 99%);
  border-radius: 136.63px;
  font-family: $SSB;
  font-size: 16px;
  color: #FFFFFF !important;
  letter-spacing: 0.61px;
  padding: 13px 40px 8px 40px;
  display: -webkit-inline-box !important;
  display: -webkit-inline-flex !important;
  display: -moz-inline-flex !important;
  display: -ms-inline-flexbox !important;
  display: inline-flex !important;
  @include align-items(center);
  .j-messenger {
    margin-right: 20px;
    font-size: 32px;
    position: relative;
    color: #fff !important;
    top: -2px;
  }
}