.btn-signup {
  display: inline-block;
  padding: 10px 25px 8px;
  color: #fff;
  font-family: $SSB;
  font-size: 13px;
  border: 1px solid #fff;
  margin-left: 10px;
  border-radius: 4px;
  &:hover,
  &:focus {
    color: #fff;
  }
}

.btn-signin {
  display: inline-block;
  padding: 10px 25px 8px;
  text-transform: uppercase;
  font-family: $SSB;
  font-size: 13px;
  color: rgba(255,255,255,.7) !important;
  letter-spacing: 0;
}