// font family

$MB:'Montserrat-Bold';
$MR:'Montserrat-Regular';
$RR:'Roboto-Regular';
$SSB:'SamsungSharpSans-Bold-UTF8';
$ML:'Montserrat-Light';
$MM:'Montserrat-Medium';
$MS:'Montserrat-SemiBold';
$MT:'Montserrat-Thin';